.layout {

    display: flex;
    justify-content: center;
    background-color: rgb(170, 73, 73);
    height: 90vh;
    padding-top: 10vh;

}

.tetrisMenu {

    height: 556px;
    background-color: rgb(0, 0, 0);
    border-radius: 0px 5px 5px 0px;
    border-top: 3px solid #333;
    border-right: 3px solid #333;
    border-bottom: 3px solid #333;
    width: 200px;   
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: center;

}